<!doctype html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>GABook</title>

  <link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="bower_components\angular\angular.min.js"></script>
  <script src="app.js"></script>

</head>
<body ng-app="GABook">

  <h1> Your Favorite Instructors </h1>
  <div ng-controller="Controller">
    <!--  Traverses $scope.students in app.js controller -->
    <div ng-repeat="instructor in instructors | orderBy:orderProperty">
      <img ng-src={{instructor.image}} width='100px'>

      <h3>Name: {{instructor.name}} ({{instructor.position}} Extraordinaire)</h3>

      <h3>Github Address: <a href="{{'https://www.github.com/' + instructor.github}}" target="new">{{ instructor.github}}</a></h3>

      <p>Currently instructing cohort # {{instructor.cohort}}</p>

      Total occurrences of {{instructor.name}} saying the word 'Automagic'
      <button ng-click="count = count + 1" ng-init="count=0">
        +1
      </button>
      <span>
         {{count}} times!
      </span>

      <div ng-if="count >= 10">
        <em>This instructor is a wizard!</em>
      </div>

      <hr>
    </div>
  </div>
</body>
</html>
